<h1>My Philosophy</h1>
<p>My classroom is a studio. It is a place of exploration, thoughtfulness, and learning. I believe anyone can make
  art in my studio. I allow students to explore the world through art. I hope to guide my students and set limits as
  a means of cultivating success. I will be their fellow artist and guide as they explore the world through artistic
  practice. Together we will learn both contemporary and classic art styles. I believe my students can be great
  artists, but with the proper guidance they can use the skills in my class beyond art and into their daily lives.</p>